* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  padding: 1rem;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  display: flex;
}

#container,
#upload-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h4 {
  text-align: center;
}

h4 {
  margin-top: 0.5rem;
  font-weight: 200;
}

a, #example-link {
  color: rgba(39, 94, 254, 1);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover, #example-link:hover {
  color: rgba(255, 0, 129, 1);
  text-decoration: underline;
  cursor: pointer; 
}

.controls {
  border: 1px dashed #d1d5db;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#backend-display, #model, #backend {
  color: rgba(255, 0, 129, 1);
}

#detCom, #recCom, #detInf, #recInf {
  color: rgba(255, 0, 129, 1);
}

#ocr {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1rem;
}

#ocr div {
  border: 1px dashed #d1d5db;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

#container {
  position: relative;
}

#image-preview {
    max-width: 100%;
    display: none;
}
#canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.device-links {
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}

#model-versions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem;
}

#model-versions label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#model-versions label input {
  margin-right: 0.5rem;
}

#upload-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#upload-button {
  gap: 0.4rem;
  font-size: 18px;
  cursor: pointer;
}

#upload {
  display: none;
}

#result-container {
  font-size: 10px;
  padding: 1rem;
  min-width: 40vw;
}

#performance {
  border: 1px dashed #d1d5db;
  border-radius: 5px;
}

#performance>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  border-bottom: 1px dashed #d1d5db;
  padding: 0.5rem;
}

#performance>div:last-child {
  border-bottom: none;
}

svg {
  pointer-events: none;
}

#example {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

#example:hover {
  color: #2563eb;
}

.g2 {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  justify-items: stretch;
}